@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgba(228, 235, 229, 0.287);
    font-family: 'Roboto Slab', serif;
}
.the-logo{
    color:rgb(10, 155, 107);
    font-weight:700;
}
.icon{
    color:rgb(10, 155, 107);
}
.links-on a{
    display:block;
    padding:5px;
    color:rgb(10, 155, 107);
    font-weight:400;
    font-size:1rem;
}
.thecolor{
    color:rgb(10, 155, 107);
}
a.active{
    color:rgb(10, 155, 107);
    font-weight:500;
}
.search-btn{
    background-color:rgb(10, 155, 107) ;
    border:0;
}
input{
    border:2px solid rgb(183, 183, 183);
    background-color: rgba(228, 235, 229, 0.287)
}
.the-images{
    margin:30px 0;
}
.details{
    background-color:rgb(14, 178, 123);
    color:#fff;
    padding:5px 15px;
    margin:5px 0;
    border-radius:5px;
}
.the-details{
    padding:30px;
}
.the-details img{
    border-radius:5px;
}
.header h1{
    margin:15px 0;
}
.full h1{
    margin:20px 0;
    line-height:2.1rem;
}
span{
    padding:7px 10px;
    background-color:rgb(119, 231, 193) ;
    color:rgb(11, 109, 76);
    border-radius:5px;
    margin-right:7px;
   
}
.the-form{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50vh;
}
.inputs{
    margin:11px 0;
}
.text-input{
    margin:8px 0;
    border-radius: 5px;
    border:1px solid rgb(209, 209, 209);
    padding:3px 5px;
}
input:focus{
    outline: 0;
}
.submit-btn{
    background-color:rgb(10, 155, 107)
}